# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# env
.env

*.orig
changelog*.md
cfmd.py
*cf.md
showcase.md
temp.md

remappedSrc
/ec-core/logs/2022-07-24-1.log.gz
/logs/2022-07-24-1.log.gz
/ec-core/logs/2022-07-24-2.log.gz
/logs/2022-07-24-2.log.gz
/ec-core/logs/2022-07-24-3.log.gz
/logs/2022-07-24-3.log.gz
/ec-core/logs/2022-07-24-4.log.gz
/logs/2022-07-24-4.log.gz
/logs/2022-07-24-5.log.gz
/logs/2022-07-24-6.log.gz
/logs/2022-07-24-7.log.gz
/ec-core/logs/latest.log
/logs/latest.log
