# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run_*/
run/
run.*/

# env
.env

*.orig
changelog*.md
cfmd.py
*cf.md
showcase.md
temp.md

remappedSrc

/ec-core/logs
/logs

